.here{
  background-color: red;
  width: 100px;
  height: 100px;
}
html,body {
  margin: 0px;
  height: 100%;
  width: 100%;
}


.col-lg{
  background-color: #002f8e;
  padding: 1rem;
  color: white;
}

.btn-primary{
  height: 100px;
  margin-right: .5rem;
}

#button-1{
  background-color: #ff0000;
}

#button-2{
  background-color: #7f6000;
}

#button-3{
  background-color: #385723;
}

#button-4{
  background-color: #ffff00;
}

#button-5{
  background-color: #002f8e;
}

#button-6{
  background-color: #7030a0;
}
